# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Logs
*.log

# Editor files and folders
.vscode/
*.sublime-*

# Bin directory
bin/

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
.DS_Store

# Node & Composer
vendor/
node_modules/

# Swap files
*.swp

# .config ignore all except specified
!.config/
.config/*
!.config/nvim/
.config/nvim/plugged

